// 店铺和时间
.store_time-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  .store-cascader {
    width: 160px;
  }

  .marketplace-time {
    font-size: 12px;
    padding: 0 6px;
  }
}

// 左边栏
.left-aside {
  position: relative;
  width: 300px;
  box-shadow: 1px 0px 0px 0px #ccc;

  // 出现面包屑导航时，因为容器去掉了 paddingTop 所以侧边栏单独加上
  &.has-path_crumbs {
    padding-top: 20px;

    .btn-home {
      top: 62px;
    }
  }
}

.btn-home {
  position: absolute;
  padding: 2px 8px;
  top: 42px;
  right: 16px;
  cursor: pointer;
  font-size: 20px;
  color: $textColor;
  z-index: 9;

  &:hover {
    color: $linkColor;
  }
}

.left-tabs {
  font-size: $textSize;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: 0px -1px 0px 0px #ccc;

  // 左侧菜单滚动区域
  .tab-pane-roll {
    overflow: auto;
    height: calc(100vh - 300px);
  }

  .input-with-select {
    margin-bottom: 10px;

    ::v-deep {
      .el-input-group__append {
        padding: 0 10px;
      }
    }
  }

  ::v-deep {
    // tabs
    .el-tabs__item {
      height: 30px;
      line-height: 30px;
    }
  }
}

// 右侧
.right-main {
  // margin-left: 20px;
  position: relative;
  padding-left: 20px !important;

  // 标签页数量
  .tabs-cell-count {
    color: $secondaryTextColor;
    font-weight: 400;
  }

  .btn-collapse {
    position: absolute;
    padding: 3px 1px;
    top: 50%;
    left: 0;
    width: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 4px 4px 0;
    color: $secondaryTextColor;

    &.collapse {
      border-left: 1px solid #ccc;
      border-right: none;
      border-radius: 4px 0 0 4px;
      transform: translateX(1px);
    }

    i {
      font-size: 15px;
    }

    div {
      font-size: 12px;
      padding-left: 1px;
      line-height: 16px;
    }

    &:hover {
      color: $primaryColor;
    }
  }

  ::v-deep {
    // tabs
    .el-tabs__item {
      font-weight: 400;
      font-size: 13px;
    }
  }
}
