// 广告管理 page 公共样式

.container {
  font-size: $textSize;
}

.table-container {
  ::v-deep {
    .el-table {
      thead {
        color: $primaryTextColor;
      }

      th {
        background-color: #fafafa;
        padding: 4px 0;
      }
    }

    // 解决横向滚动条在固定列时无法拖动的问题
    .el-table__body-wrapper {
      z-index: 2;
    }
  }
}

// 开启
.enabled {
  color: $successColor;

  &.el-select::v-deep {
    .el-input__inner {
      color: $successColor;
    }
  }
}

// 暂停
.paused {
  color: $danger;

  &.el-select::v-deep {
    .el-input__inner {
      color: $danger;
    }
  }
}

// 归档
.archived {
  color: $disabledColor;

  &.el-select::v-deep {
    .el-input__inner {
      color: $disabledColor;
    }
  }
}

// 表格中的日期
.td_date_time {
  word-break: break-word;
}

// 表头日期 tip 图标
.icon-time_info {
  color: $warningColor;
}

// 分页器
.pagination {
  position: relative;
  padding: 12px 0 6px 20px;
  text-align: right;
}

// 工具栏
.toolbar {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > div {
    display: flex;
  }

  .batch_state {
    margin-left: 20px;
  }
}

// 条件筛选下拉框
.filter-select {
  width: 120px;
}

// 高级筛选按钮
.filter_more-btn {
  padding: 7px 10px 7px 15px;
}

// 筛选栏
.filter-bar {
  &>*:not(:last-child) {
    margin-right: 20px;
  }
}

// 表格行中的编辑图标
.table-edit-icon {
  margin-left: 4px;
  cursor: pointer;
  display: none;

  &:hover {
    color: $linkColor;
  }
}

// hover tr 时才显示编辑图标
.table-container {
  ::v-deep {
    tr.hover-row {
      .table-edit-icon {
        display: inline-block;
      }
    }
  }
}

// 编辑弹窗标题
.edit_dialog-title-name {
  display: inline-block;
  color: $secondaryTextColor;
  vertical-align: bottom;
  max-width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.edit_dialog-label-suffix {
  color: $secondaryTextColor;
}
